<ion-view view-title="Noticias">
  <ion-content>
    <ion-list>
    	<div class="eras">
    		<a href="https://www.pokemon.com/es/noticias-pokemon/una-entrevista-con-atsushi-nagashima-sobre-los-nuevos-equipos-de-relevos-de-pokemon-gx/"><img src="https://assets.pokemon.com/assets/cms2-es-es/img/trading-card-game/_tiles/sm11/interview/sm11-creatures-interview-11-es.jpg"></a>

    		<a href="https://www.pokemon.com/es/noticias-pokemon/wicked-cool-toys-ofrece-nuevos-juguetes-poke-ball-y-figuras-pokemon/">
    			<img src="https://assets.pokemon.com/assets/cms2-es-es/img/misc/_tiles/wct/role-play-product/wicked-cool-role-play-product-11-es.jpg"></a>

    		<a href="https://www.pokemon.com/es/noticias-pokemon/consigue-bonus-con-las-tareas-de-investigacion-del-desafio-global-de-pokemon-go/">
    			<img src="https://assets.pokemon.com/assets/cms2-es-es/img/video-games/_tiles/pokemon-go/06112019/pokemon-go-11.jpg">
    		</a>
    	</div>
    </ion-list>
  </ion-content>
</ion-view>
